*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f3f3f3;
}

header{

background:#B80000;

color:#fff;

padding:18px;

text-align:center;

font-size:20px;

font-weight:bold;

}

.container{

padding:15px;

}

.total-card{

background:#B80000;

color:white;

padding:25px;

border-radius:15px;

text-align:center;

margin-bottom:20px;

}

.total-card h1{

margin-top:10px;

font-size:35px;

}

.wallet-grid{

display:grid;

grid-template-columns:1fr 1fr 1fr;

gap:10px;

margin-bottom:20px;

}

.wallet-box{

background:white;

padding:20px;

border-radius:12px;

text-align:center;

box-shadow:0 3px 10px rgba(0,0,0,.1);

}

.wallet-box h3{

font-size:16px;

margin-bottom:10px;

}

.wallet-box p{

font-size:22px;

font-weight:bold;

color:#B80000;

}

.buttons{

display:flex;

gap:10px;

margin-bottom:20px;

}

.buttons button{

flex:1;

padding:14px;

border:none;

background:#B80000;

color:white;

border-radius:10px;

font-size:16px;

cursor:pointer;

}

.title{

margin-bottom:10px;

}

#transactionList{

background:white;

padding:15px;

border-radius:12px;

min-height:120px;

}